In [2]:
import pandas as pd

In [3]:
pakistan_dataset=pd.read_csv('Pakistan Largest Ecommerce Dataset.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_11012\1945846750.py:1: DtypeWarning: Columns (1,2,3,7,8,9,11,12,13,14,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  parkistan_dataset=pd.read_csv('Pakistan Largest Ecommerce Dataset.csv')

In [4]:
pakistan_dataset.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN

In [5]:
pakistan_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  float64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  object
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  float64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447346 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  float64
 16  Month                  584524 non-null  float64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
 21  Unnamed: 21            0 non-null       float64
 22  Unnamed: 22            0 non-null       float64
 23  Unnamed: 23            0 non-null       float64
 24  Unnamed: 24            0 non-null       float64
 25  Unnamed: 25            0 non-null       float64
dtypes: float64(13), object(13)
memory usage: 208.0+ MB

In [6]:
pakistan_dataset.dtypes

item_id                  float64
status                    object
created_at                object
sku                       object
price                    float64
qty_ordered              float64
grand_total              float64
increment_id              object
category_name_1           object
sales_commission_code     object
discount_amount          float64
payment_method            object
Working Date              object
BI Status                 object
 MV                       object
Year                     float64
Month                    float64
Customer Since            object
M-Y                       object
FY                        object
Customer ID              float64
Unnamed: 21              float64
Unnamed: 22              float64
Unnamed: 23              float64
Unnamed: 24              float64
Unnamed: 25              float64
dtype: object

## 결측치 처리

In [7]:
pakistan_dataset.drop(['Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1, inplace=True)
pakistan_dataset.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0

In [36]:
null_rows =parkistan_dataset.isnull()
null_rows

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
584520,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
584521,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
584522,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
584523,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [30]:
# 완전히 Null 값으로 이루어진 행 삭제
pakistan_dataset= parkistan_dataset.dropna(how='all')
pakistan_dataset

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204.0,cod,8/28/2018,WOFSCE5AE00357AECDE,699.0,1.0,849.0,100562385,Women's Fashion,NaN,...,cod,8/28/2018,Valid,699,2018.0,8.0,2018-8,8-2018,FY19,115320.0
584520,905205.0,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1.0,35899.0,100562386,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"35,599",2018.0,8.0,2018-8,8-2018,FY19,115326.0
584521,905206.0,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"259,998",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584522,905207.0,processing,8/28/2018,MATSAM5B1509B4696EA,87300.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"174,600",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584523,905208.0,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"217,280",2018.0,8.0,2018-7,8-2018,FY19,113474.0

In [37]:
pakistan_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 584524 entries, 0 to 584523
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  float64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  object
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  float64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447346 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  float64
 16  Month                  584524 non-null  float64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
dtypes: float64(8), object(13)
memory usage: 114.2+ MB

In [34]:
pakistan_dataset['status'].unique()

array(['complete', 'canceled', 'order_refunded', 'received', 'refund',
       'closed', 'fraud', 'holded', 'exchange', 'pending_paypal', 'paid',
       '\\N', 'cod', 'pending', nan, 'processing', 'payment_review'],
      dtype=object)

In [ ]:
filtered_df = pakistan_dataset[(pakistan_dataset['status'] == '\\N') | (pakistan_dataset['status'].isnull())]
filtered_df

In [35]:
filtered_df = pakistan_dataset[(pakistan_dataset['status'] == '\\N') | (pd.isna(pakistan_dataset['status']))]
filtered_df

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
255520,526623.0,\N,7/3/2017,test-product-3,3.0,2.0,231.0,100332005,\N,\N,...,cod,7/3/2017,Gross,6,2017.0,7.0,2016-7,7-2017,FY18,1423.0
255521,526624.0,\N,7/3/2017,test-product,75.0,1.0,231.0,100332005,\N,\N,...,cod,7/3/2017,Gross,75,2017.0,7.0,2016-7,7-2017,FY18,1423.0
255624,526754.0,\N,7/3/2017,test-product-3,3.0,2.0,231.0,100332075,\N,\N,...,cod,7/3/2017,Gross,6,2017.0,7.0,2016-7,7-2017,FY18,1423.0
255625,526755.0,\N,7/3/2017,test-product,75.0,1.0,231.0,100332075,\N,\N,...,cod,7/3/2017,Gross,75,2017.0,7.0,2016-7,7-2017,FY18,1423.0
477519,783751.0,NaN,3/15/2018,OTHPCB5A7D8A0BD10E8,8000.0,1.0,8000.0,100479380,Others,NaN,...,cod,3/15/2018,Gross,"8,000",2018.0,3.0,2018-3,3-2018,FY18,95141.0
513736,827187.0,NaN,4/16/2018,KABOXF5ABCC75C7E2F7-32,370.0,1.0,2707.0,100513933,Kids & Baby,NaN,...,cod,4/16/2018,Gross,370,2018.0,4.0,2018-4,4-2018,FY18,105059.0
513737,827189.0,NaN,4/16/2018,KABSHO5AA77C331466F-11-13 Years,473.0,1.0,2707.0,100513933,Kids & Baby,NaN,...,cod,4/16/2018,Gross,473,2018.0,4.0,2018-4,4-2018,FY18,105059.0
513738,827191.0,NaN,4/16/2018,KABBIN5A93E074C501A-8-9 Years,749.0,1.0,2707.0,100513933,Kids & Baby,NaN,...,cod,4/16/2018,Gross,749,2018.0,4.0,2018-4,4-2018,FY18,105059.0
513739,827193.0,NaN,4/16/2018,KABLIT59AC117FD51C4-12-13 Years,692.0,1.0,2707.0,100513933,Kids & Baby,NaN,...,cod,4/16/2018,Gross,692,2018.0,4.0,2018-4,4-2018,FY18,105059.0
513740,827195.0,NaN,4/16/2018,KABCOL5AB2B8019805C-8-9 Years,423.0,1.0,2707.0,100513933,Kids & Baby,NaN,...,cod,4/16/2018,Gross,423,2018.0,4.0,2018-4,4-2018,FY18,105059.0
518706,832777.0,NaN,4/30/2018,ENTCLI5A5DD7D800D6E,6042.0,1.0,6042.0,100517141,Entertainment,NaN,...,cod,4/30/2018,Gross,"6,042",2018.0,4.0,2018-4,4-2018,FY18,106036.0
532965,848003.0,NaN,5/14/2018,MATINF5AE310D2D7A1A,13950.0,1.0,13950.0,100527966,Mobiles & Tablets,NaN,...,cod,5/14/2018,Gross,"13,950",2018.0,5.0,2018-4,5-2018,FY18,105319.0
542146,857829.0,NaN,5/25/2018,ROO5AE983F2751EA,2280.0,1.0,2280.0,100534786,Superstore,NaN,...,cod,5/25/2018,Gross,"2,280",2018.0,5.0,2018-5,5-2018,FY18,109580.0
554962,872154.0,NaN,6/15/2018,BAGPHI5AA665985A58E,2900.0,1.0,949.0,100542483,Beauty & Grooming,NaN,...,bankalfalah,6/15/2018,Gross,"2,900",2018.0,6.0,2018-5,6-2018,FY18,109420.0
556575,873867.0,NaN,6/20/2018,SEH59F33B639C948,13998.0,1.0,13998.0,100543636,Superstore,NaN,...,cod,6/20/2018,Gross,"13,998",2018.0,6.0,2018-6,6-2018,FY18,111346.0
562052,879771.0,NaN,7/2/2018,MEFTHE5ABD1716014D5-XL,0.0,1.0,150.0,100547232,Men's Fashion,NaN,...,cod,7/2/2018,Gross,-,2018.0,7.0,2018-7,7-2018,FY19,112111.0
566295,884706.0,NaN,7/13/2018,OTHOTH5A097CEF981C2,100.0,1.0,250.0,100550314,Others,NaN,...,cod,7/13/2018,Gross,100,2018.0,7.0,2018-6,7-2018,FY19,111651.0
566296,884707.0,NaN,7/13/2018,OTHOTH5A097CEF981C2,100.0,2.0,350.0,100550315,Others,NaN,...,cod,7/13/2018,Gross,200,2018.0,7.0,2018-6,7-2018,FY19,111651.0
568050,886679.0,NaN,7/18/2018,OTHOTH5A097CEF981C2,100.0,4.0,550.0,100551487,Others,NaN,...,cod,7/18/2018,Gross,400,2018.0,7.0,2018-6,7-2018,FY19,111651.0

In [45]:
## 'status' 열의 null값 특정 값으로 바꾸기
pakistan_dataset['status'] = pakistan_dataset['status'].fillna('holded')

C:\Users\user\AppData\Local\Temp\ipykernel_4464\2473496178.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkistan_dataset['status'] = parkistan_dataset['status'].fillna('holded')

In [49]:
null_row=pakistan_dataset[pakistan_dataset['sku'].isnull()]
null_row

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
14846,230008.0,canceled,8/13/2016,NaN,0.0,1.0,0.0,100160070,\N,\N,...,cod,8/13/2016,Gross,-,2016.0,8.0,2016-8,8-2016,FY17,3468.0
20676,236830.0,canceled,9/1/2016,NaN,0.0,1.0,0.0,100164902,\N,\N,...,cod,9/1/2016,Gross,-,2016.0,9.0,2016-8,9-2016,FY17,4369.0
39838,260006.0,canceled,10/7/2016,NaN,0.0,1.0,0.0,100181136,\N,\N,...,cod,10/7/2016,Gross,-,2016.0,10.0,2016-7,10-2016,FY17,939.0
39839,260007.0,canceled,10/7/2016,NaN,0.0,3.0,0.0,100181137,\N,\N,...,cod,10/7/2016,Gross,-,2016.0,10.0,2016-7,10-2016,FY17,939.0
39880,260061.0,canceled,10/7/2016,NaN,0.0,3.0,0.0,100181174,\N,\N,...,cod,10/7/2016,Gross,-,2016.0,10.0,2016-7,10-2016,FY17,939.0
124968,367292.0,refund,12/10/2016,NaN,0.0,1.0,0.0,100247863,\N,\N,...,cod,12/10/2016,Valid,-,2016.0,12.0,2016-11,12-2016,FY17,26305.0
125636,368122.0,refund,12/12/2016,NaN,0.0,1.0,0.0,100248364,\N,\N,...,cod,12/12/2016,Valid,-,2016.0,12.0,2016-7,12-2016,FY17,2246.0
125811,368362.0,refund,12/13/2016,NaN,0.0,1.0,0.0,100248497,\N,\N,...,cod,12/13/2016,Valid,-,2016.0,12.0,2016-7,12-2016,FY17,251.0
149597,399798.0,refund,2/7/2017,NaN,0.0,1.0,0.0,100267148,\N,\N,...,cod,2/7/2017,Valid,-,2017.0,2.0,2017-2,2-2017,FY17,33062.0
170249,426105.0,canceled,3/21/2017,NaN,0.0,1.0,6952.0,100281645,\N,\N,...,cod,3/21/2017,Gross,-,2017.0,3.0,2017-3,3-2017,FY17,38242.0
170401,426302.0,canceled,3/22/2017,NaN,0.0,1.0,1873.0,100281748,\N,\N,...,cod,3/22/2017,Gross,-,2017.0,3.0,2017-3,3-2017,FY17,38278.0
173040,429392.0,refund,3/23/2017,NaN,0.0,1.0,0.0,100283785,\N,\N,...,cod,3/23/2017,Valid,-,2017.0,3.0,2016-8,3-2017,FY17,4662.0
173045,429393.0,refund,3/23/2017,NaN,0.0,1.0,0.0,100283786,\N,\N,...,cod,3/23/2017,Valid,-,2017.0,3.0,2016-8,3-2017,FY17,4662.0
173069,429421.0,refund,3/23/2017,NaN,0.0,1.0,0.0,100283807,\N,\N,...,cod,3/23/2017,Valid,-,2017.0,3.0,2016-8,3-2017,FY17,4662.0
175411,432276.0,refund,3/26/2017,NaN,0.0,1.0,0.0,100285563,\N,\N,...,cod,3/26/2017,Valid,-,2017.0,3.0,2016-11,3-2017,FY17,14625.0
238273,506324.0,canceled,6/7/2017,NaN,0.0,1.0,0.0,100322823,\N,\N,...,cod,6/7/2017,Gross,-,2017.0,6.0,2016-11,6-2017,FY17,14905.0
316422,595858.0,cod,10/12/2017,NaN,0.0,2.0,0.0,100367801,\N,0,...,cod,10/12/2017,Valid,-,2017.0,10.0,2017-8,10-2017,FY18,58333.0
325391,605726.0,order_refunded,11/1/2017,NaN,18335.0,1.0,18335.0,100374250,Entertainment,\N,...,cod,11/1/2017,Valid,"18,335",2017.0,11.0,2017-11,11-2017,FY18,65343.0
325402,605740.0,canceled,11/1/2017,NaN,16110.0,1.0,16110.0,100374259,Entertainment,\N,...,cod,11/1/2017,Gross,"16,110",2017.0,11.0,2017-11,11-2017,FY18,65350.0
325602,605954.0,order_refunded,11/2/2017,NaN,16110.0,1.0,16110.0,100374382,Entertainment,C-RWP-31924,...,cod,11/2/2017,Valid,"16,110",2017.0,11.0,2017-11,11-2017,FY18,65366.0

In [53]:
## 'sku' 열의 null값 특정 값으로 바꾸기
pakistan_dataset[pakistan_dataset['sku']=='\\N']

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
14846,230008.0,canceled,8/13/2016,\N,0.0,1.0,0.0,100160070,\N,\N,...,cod,8/13/2016,Gross,-,2016.0,8.0,2016-8,8-2016,FY17,3468.0
20676,236830.0,canceled,9/1/2016,\N,0.0,1.0,0.0,100164902,\N,\N,...,cod,9/1/2016,Gross,-,2016.0,9.0,2016-8,9-2016,FY17,4369.0
39838,260006.0,canceled,10/7/2016,\N,0.0,1.0,0.0,100181136,\N,\N,...,cod,10/7/2016,Gross,-,2016.0,10.0,2016-7,10-2016,FY17,939.0
39839,260007.0,canceled,10/7/2016,\N,0.0,3.0,0.0,100181137,\N,\N,...,cod,10/7/2016,Gross,-,2016.0,10.0,2016-7,10-2016,FY17,939.0
39880,260061.0,canceled,10/7/2016,\N,0.0,3.0,0.0,100181174,\N,\N,...,cod,10/7/2016,Gross,-,2016.0,10.0,2016-7,10-2016,FY17,939.0
124968,367292.0,refund,12/10/2016,\N,0.0,1.0,0.0,100247863,\N,\N,...,cod,12/10/2016,Valid,-,2016.0,12.0,2016-11,12-2016,FY17,26305.0
125636,368122.0,refund,12/12/2016,\N,0.0,1.0,0.0,100248364,\N,\N,...,cod,12/12/2016,Valid,-,2016.0,12.0,2016-7,12-2016,FY17,2246.0
125811,368362.0,refund,12/13/2016,\N,0.0,1.0,0.0,100248497,\N,\N,...,cod,12/13/2016,Valid,-,2016.0,12.0,2016-7,12-2016,FY17,251.0
149597,399798.0,refund,2/7/2017,\N,0.0,1.0,0.0,100267148,\N,\N,...,cod,2/7/2017,Valid,-,2017.0,2.0,2017-2,2-2017,FY17,33062.0
170249,426105.0,canceled,3/21/2017,\N,0.0,1.0,6952.0,100281645,\N,\N,...,cod,3/21/2017,Gross,-,2017.0,3.0,2017-3,3-2017,FY17,38242.0
170401,426302.0,canceled,3/22/2017,\N,0.0,1.0,1873.0,100281748,\N,\N,...,cod,3/22/2017,Gross,-,2017.0,3.0,2017-3,3-2017,FY17,38278.0
173040,429392.0,refund,3/23/2017,\N,0.0,1.0,0.0,100283785,\N,\N,...,cod,3/23/2017,Valid,-,2017.0,3.0,2016-8,3-2017,FY17,4662.0
173045,429393.0,refund,3/23/2017,\N,0.0,1.0,0.0,100283786,\N,\N,...,cod,3/23/2017,Valid,-,2017.0,3.0,2016-8,3-2017,FY17,4662.0
173069,429421.0,refund,3/23/2017,\N,0.0,1.0,0.0,100283807,\N,\N,...,cod,3/23/2017,Valid,-,2017.0,3.0,2016-8,3-2017,FY17,4662.0
175411,432276.0,refund,3/26/2017,\N,0.0,1.0,0.0,100285563,\N,\N,...,cod,3/26/2017,Valid,-,2017.0,3.0,2016-11,3-2017,FY17,14625.0
238273,506324.0,canceled,6/7/2017,\N,0.0,1.0,0.0,100322823,\N,\N,...,cod,6/7/2017,Gross,-,2017.0,6.0,2016-11,6-2017,FY17,14905.0
316422,595858.0,cod,10/12/2017,\N,0.0,2.0,0.0,100367801,\N,0,...,cod,10/12/2017,Valid,-,2017.0,10.0,2017-8,10-2017,FY18,58333.0
325391,605726.0,order_refunded,11/1/2017,\N,18335.0,1.0,18335.0,100374250,Entertainment,\N,...,cod,11/1/2017,Valid,"18,335",2017.0,11.0,2017-11,11-2017,FY18,65343.0
325402,605740.0,canceled,11/1/2017,\N,16110.0,1.0,16110.0,100374259,Entertainment,\N,...,cod,11/1/2017,Gross,"16,110",2017.0,11.0,2017-11,11-2017,FY18,65350.0
325602,605954.0,order_refunded,11/2/2017,\N,16110.0,1.0,16110.0,100374382,Entertainment,C-RWP-31924,...,cod,11/2/2017,Valid,"16,110",2017.0,11.0,2017-11,11-2017,FY18,65366.0

In [58]:
null_row=pakistan_dataset[pakistan_dataset['category_name_1'].isnull()]
null_row

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
425895,725194.0,order_refunded,1/2/2018,MEFQMO59B0942707B79-L,99.0,2.0,2.0,100442474,NaN,NaN,...,Easypay,1/2/2018,Valid,198,2018.0,1.0,2017-8,1-2018,FY18,59587.0
431194,731122.0,received,1/15/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100445690,NaN,NaN,...,cod,1/15/2018,Valid,99,2018.0,1.0,2017-8,1-2018,FY18,59587.0
432492,732569.0,canceled,1/19/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100446481,NaN,NaN,...,bankalfalah,1/19/2018,Gross,99,2018.0,1.0,2017-3,1-2018,FY18,37311.0
432494,732572.0,canceled,1/19/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100446483,NaN,NaN,...,bankalfalah,1/19/2018,Gross,99,2018.0,1.0,2017-3,1-2018,FY18,37311.0
432496,732575.0,order_refunded,1/19/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100446485,NaN,NaN,...,cod,1/19/2018,Valid,99,2018.0,1.0,2018-1,1-2018,FY18,85633.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535572,850761.0,received,5/16/2018,KABASA5ABC763F62E76,506.0,1.0,656.0,100530038,NaN,NaN,...,cod,5/16/2018,Valid,506,2018.0,5.0,2018-5,5-2018,FY18,108622.0
541927,857600.0,received,5/25/2018,WOFASA5AE962A6DD038,199.0,1.0,1344.0,100534649,NaN,NaN,...,cod,5/25/2018,Valid,199,2018.0,5.0,2016-7,5-2018,FY18,2237.0
549314,865823.0,canceled,6/4/2018,MEFQMO59B0942707B79-M,99.0,1.0,249.0,100538795,NaN,NaN,...,Easypay,6/4/2018,Gross,99,2018.0,6.0,2018-1,6-2018,FY18,85385.0
568069,886699.0,canceled,7/18/2018,COMWD5AA8FF5851E73,314.0,1.0,464.0,100551503,NaN,NaN,...,easypay_voucher,7/18/2018,Gross,314,2018.0,7.0,2018-7,7-2018,FY19,113144.0
580564,900744.0,received,8/15/2018,COMWD5AA8FF5851E73,314.0,1.0,4785.0,100559676,NaN,NaN,...,cod,8/15/2018,Valid,314,2018.0,8.0,2017-11,8-2018,FY19,79853.0

In [59]:
## 'category' 열의 null값 특정 값으로 바꾸기
pakistan_dataset['category_name_1'] = pakistan_dataset['category_name_1'].fillna('\\N')

C:\Users\user\AppData\Local\Temp\ipykernel_4464\120944421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkistan_dataset['category_name_1'] = parkistan_dataset['category_name_1'].fillna('\\N')

In [61]:
pakistan_dataset[pakistan_dataset['sales_commission_code'].isnull()]

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
135887,381711.0,complete,1/4/2017,jockey_J260-1013-3-M,715.0,1.0,1714.0,100256851,Men's Fashion,NaN,...,cod,1/4/2017,Net,715,2017.0,1.0,2016-10,1-2017,FY17,11660.0
135888,381713.0,complete,1/4/2017,BO_nonRC-Jeep-Silver,250.0,1.0,1714.0,100256851,Kids & Baby,NaN,...,cod,1/4/2017,Net,250,2017.0,1.0,2016-10,1-2017,FY17,11660.0
135889,381714.0,complete,1/4/2017,aybeez_ABZ-3338-M,299.0,1.0,1714.0,100256851,Men's Fashion,NaN,...,cod,1/4/2017,Net,299,2017.0,1.0,2016-10,1-2017,FY17,11660.0
135890,381716.0,complete,1/4/2017,PC_3P COMBED-008,450.0,1.0,1714.0,100256851,Men's Fashion,NaN,...,cod,1/4/2017,Net,450,2017.0,1.0,2016-10,1-2017,FY17,11660.0
281723,557053.0,complete,8/10/2017,JSM_JSM-003-ComboGreenWhitePakShirt-M,180.0,2.0,360.0,100345578,\N,NaN,...,cod,8/10/2017,Net,360,2017.0,8.0,2016-11,8-2017,FY18,17022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204.0,cod,8/28/2018,WOFSCE5AE00357AECDE,699.0,1.0,849.0,100562385,Women's Fashion,NaN,...,cod,8/28/2018,Valid,699,2018.0,8.0,2018-8,8-2018,FY19,115320.0
584520,905205.0,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1.0,35899.0,100562386,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"35,599",2018.0,8.0,2018-8,8-2018,FY19,115326.0
584521,905206.0,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"259,998",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584522,905207.0,processing,8/28/2018,MATSAM5B1509B4696EA,87300.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"174,600",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584523,905208.0,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"217,280",2018.0,8.0,2018-7,8-2018,FY19,113474.0

In [62]:
pakistan_dataset['sales_commission_code'].fillna('\\N', inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_4464\2289190087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkistan_dataset['sales_commission_code'].fillna('\\N', inplace=True)

In [67]:
pakistan_dataset[pakistan_dataset['Customer Since'].isnull()]

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
427377,726862.0,order_refunded,1/5/2018,BAGLOR5A12C5C756AE5,209.0,1.0,1074.0,100443451,Beauty & Grooming,\N,...,cod,1/5/2018,Valid,209,2018.0,1.0,NaN,1-2018,FY18,NaN
427378,726863.0,order_refunded,1/5/2018,WOFGUL59C24CC9BE5D9,720.0,1.0,1074.0,100443451,Women's Fashion,\N,...,cod,1/5/2018,Valid,720,2018.0,1.0,NaN,1-2018,FY18,NaN
427379,726864.0,order_refunded,1/5/2018,BAGNAD59E0AAC250E6D,145.0,1.0,1074.0,100443451,Beauty & Grooming,\N,...,cod,1/5/2018,Valid,145,2018.0,1.0,NaN,1-2018,FY18,NaN
437567,738191.0,order_refunded,1/31/2018,MEFMUN5A0ACC3A894BE-9,999.0,1.0,1149.0,100449683,Men's Fashion,\N,...,cod,1/31/2018,Valid,999,2018.0,1.0,NaN,1-2018,FY18,NaN
478699,784981.0,received,3/15/2018,OTHPCB5A7D8A0DA56C6,8000.0,2.0,16000.0,100480546,Others,\N,...,Payaxis,3/15/2018,Valid,"16,000",2018.0,3.0,NaN,3-2018,FY18,NaN
478779,785061.0,canceled,3/15/2018,OTHPCB5A7D8A0DA56C6,8000.0,2.0,16000.0,100480623,Others,\N,...,Easypay_MA,3/15/2018,Gross,"16,000",2018.0,3.0,NaN,3-2018,FY18,NaN
494278,804621.0,canceled,3/27/2018,OTHPCB5AB351ED6A8F2,5000.0,2.0,10000.0,100496269,Others,\N,...,Easypay,3/27/2018,Gross,"10,000",2018.0,3.0,NaN,3-2018,FY18,NaN
495340,805750.0,canceled,3/27/2018,OTHPCB5AB351ECC7118,500.0,2.0,1000.0,100497359,Others,\N,...,Easypay,3/27/2018,Gross,"1,000",2018.0,3.0,NaN,3-2018,FY18,NaN
495945,807010.0,canceled,3/27/2018,OTHPCB5AB351EEC46EC,500.0,4.0,2000.0,100498582,Others,\N,...,Easypay,3/27/2018,Gross,"2,000",2018.0,3.0,NaN,3-2018,FY18,NaN
496921,808287.0,order_refunded,3/27/2018,MEFKAR5A7C138CE9EBD-L,1040.0,1.0,1040.0,100499821,Men's Fashion,\N,...,cod,3/27/2018,Valid,"1,040",2018.0,3.0,NaN,3-2018,FY18,NaN
502446,814174.0,canceled,3/28/2018,OTHPCB5ABB207673754,2000.0,5.0,10000.0,100505460,Others,\N,...,Easypay,3/28/2018,Gross,"10,000",2018.0,3.0,NaN,3-2018,FY18,NaN

In [66]:
null_counts = pakistan_dataset.isnull().sum()
null_counts

item_id                   0
status                    0
created_at                0
sku                       0
price                     0
qty_ordered               0
grand_total               0
increment_id              0
category_name_1           0
sales_commission_code     0
discount_amount           0
payment_method            0
Working Date              0
BI Status                 0
 MV                       0
Year                      0
Month                     0
Customer Since           11
M-Y                       0
FY                        0
Customer ID              11
dtype: int64

In [69]:
pakistan_dataset['Customer ID'].fillna('nonmember', inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_4464\2078691950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkistan_dataset['Customer ID'].fillna('nonmember', inplace=True)

In [70]:
null_counts = parkistan_dataset.isnull().sum()
null_counts

item_id                  0
status                   0
created_at               0
sku                      0
price                    0
qty_ordered              0
grand_total              0
increment_id             0
category_name_1          0
sales_commission_code    0
discount_amount          0
payment_method           0
Working Date             0
BI Status                0
 MV                      0
Year                     0
Month                    0
Customer Since           0
M-Y                      0
FY                       0
Customer ID              0
dtype: int64

In [75]:
pakistan_dataset['BI Status'] = pakistan_dataset['BI Status'].replace(['#REF!'], ['\\N'])

C:\Users\user\AppData\Local\Temp\ipykernel_4464\1580444936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkistan_dataset['BI Status'] = parkistan_dataset['BI Status'].replace(['#REF!'], ['\\N'])

## Type 변환

In [83]:
# DATE TYPE으로 변환
pakistan_dataset['Working Date']=pd.to_datetime(pakistan_dataset['Working Date'])

In [85]:
pakistan_dataset.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.0,complete,2016-07-01,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,cod,2016-07-01,\N,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133.0,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,cod,2016-07-01,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134.0,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,cod,2016-07-01,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135.0,complete,2016-07-01,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,2016-07-01,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136.0,order_refunded,2016-07-01,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,cod,2016-07-01,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0

In [18]:
pakistan_dataset['created_at']

0          7/1/2016
1          7/1/2016
2          7/1/2016
3          7/1/2016
4          7/1/2016
             ...
1048570         NaN
1048571         NaN
1048572         NaN
1048573         NaN
1048574         NaN
Name: created_at, Length: 1048575, dtype: object

In [21]:
pakistan_dataset['created_at']=pd.to_datetime(pakistan_dataset['created_at'])

In [24]:
pakistan_dataset['created_at']=pakistan_dataset['created_at'].dt.to_period('M')
pakistan_dataset['created_at']

0          2016-07
1          2016-07
2          2016-07
3          2016-07
4          2016-07
            ...
1048570        NaT
1048571        NaT
1048572        NaT
1048573        NaT
1048574        NaT
Name: created_at, Length: 1048575, dtype: period[M]

In [87]:
pakistan_dataset['Month'] = pakistan_dataset['Month'].astype(int)

In [ ]:
pakistan_dataset['created_at']=pd.to_datetime(pakistan_dataset['created_at'])

In [89]:
pd.to_datetime(pakistan_dataset['Customer Since']).dt.to_period('M')

ValueError: time data "nonmember" doesn't match format "%Y-%m", at position 19. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [25]:
pakistan_dataset['M-Y'] = pd.to_datetime(pakistan_dataset['M-Y']).dt.to_period('M')

C:\Users\user\AppData\Local\Temp\ipykernel_11012\1075926685.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parkistan_dataset['M-Y'] = pd.to_datetime(parkistan_dataset['M-Y']).dt.to_period('M')

In [ ]:
pakistan_dataset['M-Y'] = pd.to_datetime(pakistan_dataset['M-Y'], format='%m-%Y').dt.to_period('M')

In [98]:
pakistan_dataset.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.0,complete,2016-07-01,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,cod,2016-07-01,\N,"1,950",2016,7,2016-07,2016-07,FY17,1.0
1,211133.0,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,cod,2016-07-01,Gross,240,2016,7,2016-07,2016-07,FY17,2.0
2,211134.0,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,cod,2016-07-01,Gross,"2,450",2016,7,2016-07,2016-07,FY17,3.0
3,211135.0,complete,2016-07-01,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,2016-07-01,Net,360,2016,7,2016-07,2016-07,FY17,4.0
4,211136.0,order_refunded,2016-07-01,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,cod,2016-07-01,Valid,"1,110",2016,7,2016-07,2016-07,FY17,5.0

In [ ]:
pakistan_dataset['MV'] = pakistan_dataset['MV'].str.replace(',', '')  # 쉼표 제거
pakistan_dataset['MV'] = pakistan_dataset['MV'].str.strip()
pakistan_dataset['MV'] = pakistan_dataset['MV'].replace('-', '0').astype(int)

## 컬럼명 변경 및 삭제

In [ ]:
# 컬럼 명 변결
pakistan_data.rename(columns={'category_name_1':'category',
                    'Working Date':'working_date',
                    'Year':'year',
                    'Month':'month',
                    'Customer Since':'customer_since',
                    'Customer ID':'customer_id'}, inplace=True)
pakistan_data

In [ ]:
# 컬럼 제거
pakistan_data.drop(columns=['working_date','M-Y'], inplace=True)

## 그룹핑

In [ ]:
pakistan_group = pakistan_data

In [ ]:
pakistan_group['status'].replace(['received','paid','closed'],'complete', inplace=True) # 완료됨
pakistan_group['status'].replace(['order_refunded'],'refund', inplace=True) # 환불
pakistan_group['status'].replace(['cod','paid','payment_review','pending','holded','pending_paypal'], 'processing', inplace=True) # 진행중, 결제 안됨
pakistan_group['status'].replace(['exchange','\\N','fraud'], 'others', inplace=True) # others
# canceled
pakistan_group['status'].unique()

In [ ]:
pakistan_group['payment_method'].replace(['Payaxis', 'internetbanking','mcblite', 'ublcreditcard', 'bankalfalah'], 'Banks/Cards/Wallets', inplace=True)
pakistan_group['payment_method'].replace(['easypay_voucher', 'Easypay', 'Easypay_MA'], 'Easypay', inplace=True)
pakistan_group['payment_method'].replace(['jazzwallet', 'jazzvoucher'], 'JazzCash', inplace=True)
pakistan_group['payment_method'].replace(['cashatdoorstep', 'cod'], 'Cash on Delivery', inplace=True)
pakistan_group['payment_method'].replace(['customercredit', 'apg', 'mygateway', 'productcredit','marketingexpense', 'financesettlement'], 'Others', inplace=True)
pakistan_group.head()